<%- include("header") -%>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(function(item){ %>
      <div class="item">
        <form class="item" action="/delete" method="post">
          <input onChange='this.form.submit()' type="checkbox" name="itemId" value=<%=item.id%> ></input>
          <input type="hidden" name="listName" value=<%=listTitle%> ></input>
          <p>
            <%=item.name%>
          </p>
        </form>

      </div>
      <% })%>

        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
          <button type="submit" name="list" value=<%=listTitle%> >+</button>
        </form>
  </div>

  <%- include("footer") -%>